<!-- display query results -->
<div class="container-fluid">
  <div class="content-background"></div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="content-item content-item-title text-center">
        <h1>Your results</h1>
      </div>
      <div class="row">
        <div class="content-item-flex">
          <%- @heros.each do |hero| %>
            <div class="col-xs-12 col-sm-6">
              <div class="content-item">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="profile-picture profile-picture-large profile-picture-squared" style="background-image: url('<%= hero.picture.url(:large) %>')"></div>
                  </div>
                  <div class="col-xs-8">
                    <h3><%= hero.name%></h3>
                    <p><%= hero.description%></p>
                  </div>
                </div>
                <%= link_to "", hero_path(hero), class: "content-item-link" %>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>


