<div class="banner text-center" style="background-image: url('product.jpg')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>Oh my heroes</h1>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
