<div class="banner text-center">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>Need a Superhero?</h1>
    <%= link_to "I WANT ONE",heros_path, {class: "btn btn-primary"} %>
  </div>
</div>
