.content-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: image-url('content-background.jpg');
  background-size: cover;
  background-position: right;
}
.content-item {
  position: relative;
  padding: 2em;
  background-color: rgba(250,250,250,0.6);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgb(180,180,180);
  margin-bottom: 50px;
  &-title {
    margin: 70px 0px;
    padding: 1em 0em;
    color: rgb(80,80,80);
    text-shadow: 1.2px 1.2px 1px white;
  }
  hr {
    margin: 1.5em;
  }
}
